* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}


body {
    direction: rtl;
    font-family: arimo;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: arimo;
    text-decoration: underline;
}




p {
    font-family: arimo;
    text-align: center;
    font-size: 22px;


}

div.column img {
    height: 510px;
    margin-top: 25px;
    position: relative;
    right: 20PX;
}


/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

input:required {
    border-color: #800000;
    border-width: 3px;
}

input:required:invalid {
    border-color: #c00000;
}

textarea:required {
    border-color: #800000;
    border-width: 3px;
}


input:required:invalid {
    border-color: #c00000;
}