@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Assistant', sans-serif;
    /* display: none; */
}

body {
    padding: 20px 20px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
}

ul {
    background-color: antiquewhite;
    margin: 5px 5px;
    width: 200px;
}

ul li {
    margin-right: 30px;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;

}

h2 {
    background-color: greenyellow;
    text-align: center;
}