@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Assistant', sans-serif;
}


body {
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    direction: rtl;
    display: flex;
    flex-direction: column;


}




nav {
    padding: 2px 10px;
    position: relative;
    /* background-color: blueviolet; */
    font-family: 'MyWebFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25PX;
}




nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'MyWebFont';

}

ul li {
    margin: 8px 0px 8px 20px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: blue; */
}

a {
    text-decoration: none;
    font-family: mywebfont;
    color: black;
}


#search-container {
    /* background-color: #F8D807; */
    display: flex;
    max-height: 30px;
    justify-content: left;
    margin-left: 0 px;
}




#search-btn {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
}

#search-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    flex-direction: column;
    text-align: center;
    /* width: 45%; */
    height: fit-content;
    /* margin-top: 45px; */
    color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header h1 {
    font-family: 'MyWebFont';
    font-size: 60px;
    text-decoration: underline solid 1px black;
    color: brown;
}



#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: arimo;
    font-size: 20px;
}

#subtitle {
    width: 200px;
}

#top #imgtop img {
    max-height: 400px;
}


b {
    font-size: 25px;
    color: brown;
}

h2 {
    position: relative;
    display: block;
    text-align: center;
    top: 10px;
}

h2 b {
    font-family: MyWebFont;
    font-size: 40px;
}



div#frontsections {
    position: relative;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    /* align-items: stretch; */
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    /* height: 400px; */
    width: 100%;
    /* flex-grow: 1; */
    /* top: 100px; */
    background-image: url('../images/SHELF.png');
    background-size: cover;
}

div#frontsections section {
    /* display: float; */
    /* align-items: stretch; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('../images/box7.png');
    background-size: 100% 100%;
    width: 600px;
    /* border: 1px solid black; */

    height: 250px;
    position: relative;
    /* display: none; */
}

div#frontsections section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    /* top: 240px; */
    bottom: 25px;
}

h3 {
    font-family: MyWebFont;
    font-size: 30px;
    position: absolute;
    top: 10px;

}

div#backsections {
    width: fit-content;
    margin: 0 auto;
}

div#backsections section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/box7.png');
    background-size: 100% 100%;
    /* height: 100%; */
    position: relative;
    height: 600px;
    width: 600px;
    font-size: 30px;
}

div#backsections section .text {
    position: absolute;
    height: 200px;
    width: 500px;
}

#example {
    width: 100%;
    height: 50vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;

    justify-content: center;


    align-items: center;
}

#box {
    width: 50%;
    height: 50%;
    background-color: brown;
}