* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Assistant', sans-serif;
}


body {
    direction: rtl;
    padding: 0 100px;
    min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}


nav {
    padding: 2px 10px;
    position: relative;
    /* background-color: blueviolet; */
    font-family: 'MyWebFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    list-style: none;

}

nav ul li {
    margin: 8px 0px 8px 20px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: blue; */
}

a {
    text-decoration: none;
    font-family: mywebfont;
}


#search-container {
    /* background-color: #F8D807; */
    display: flex;
    max-height: 30px;
    justify-content: left;
    margin-left: 0 px;
}




#search-btn {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
}

#search-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    text-align: center;
    background-image: url('../images/kitchen2.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
    margin-bottom: 00px;

}

header h1 {
    width: 100%;
    font-family: 'MyWebFont';
    font-size: 60px;
    color: black;
    margin-top: 10px;
}

/*main style  */

main {
    background-color: aqua;
    height: 100%;
    padding-bottom: 100px;
}

ul.foodslist {
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    list-style: none;
    /* margin: 0 0 px; */
    max-width: 100%;
    /* margin-left: 0px; */
    position: relative;
    /* border: 1px solid black; */
}

.foodslist li {
    flex-grow: 1;
    margin: 0;
    font-size: 0.9rem;
    /* padding-left: 15px; */
    /* background-color: blueviolet; */
    border: 1px solid black;
    /* height: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    position: relative;
    cursor: pointer;
}

.foodslist li:hover {
    background-color: chocolate;
}

main ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

.foodslist a:active {
    background-color: brown;
}


ul li:hover ul {
    position: absolute;
    display: block;
}


/* sections style */
section {
    display: none;
}

/* explain box style */

#explain-box {
    /* padding: 0; */
    text-align: center;
}

#explain-box p {
    border-top: 1px solid black;
    padding: 15px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#explain-box img {
    margin-top: 50px;
    margin-bottom: 10px;
}

/* sliding window  style*/
#slidding-window {
    display: none;
    width: 100%;
    /* min-height: 250px; */
    height: fit-content;
    border: 1px solid black;
    background-color: blueviolet;
    margin-top: 50px;
    position: relative;
}

#imgs-bar {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: coral;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#imgs-bar .box {
    border: 1px solid black;
    margin: 0 8px;
    padding: 0;
    min-width: 50px;
    cursor: pointer;
}

.clicked {
    background-color: yellowgreen;
}








/* ul.foodslist>li {
    font-family: 'MyWebFont', 20px;
    color: black;
    background-color: aqua;
    height: 80px;
    width: 80px;
    border-style: solid;
    padding: 5px 5px;
    position: relative;
    margin: 5 5 px;
    width: 100%;
} */

/* ul.fruits {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0px;
} */

/* ul.fruits>li {
    font-family: 'MyWebFont', 20px;
    color: black;
    background-color: aqua;
    border-style: solid;
    padding: 5px 5px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
     display: none; 
} */

/* ul.foodlist ul li>hover ul.fruits {
    display: block;
} */

/* img#kitchen2 {
    margin-top: 0ch;
    height: 200px;
    position: relative; 

}*/