@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Assistant', sans-serif;
}


body {
    padding: 0 120px;
    direction: rtl;

}




nav {
    padding: 2px 10px;
    position: relative;
    /* background-color: blueviolet; */
    font-family: 'MyWebFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25PX;
}




nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'MyWebFont';

}

ul li {
    margin: 8px 0px 8px 20px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: blue; */
}

a {
    text-decoration: none;
    font-family: mywebfont;
    color: black;
}


#search-container {
    /* background-color: #F8D807; */
    display: flex;
    max-height: 30px;
    justify-content: left;
    margin-left: 0 px;
}




#search-btn {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
}

#search-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    flex-direction: column;
       text-align: center;
        width: 45%;
        height: 300px;
    margin-top: 45px;
    color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
        right: 30%;
    align-items: center;
    }

    

header h1 {
    font-family: 'MyWebFont';
    font-size: 60px;
    text-decoration: underline solid 1px black;
    position: absolute;
    top: -35px ;
    }



    #top{
   display:flex ;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: arimo;
   font-size: 20px;
   position: absolute;
   bottom:-320PX;
   top: 0px;
   right: 150px;
   margin-bottom:50px;
     
             
    }
#subtitle{
    position: absolute;
    top: 150px ;
    left : 450px ;
    width: 200px;
}

#top #imgtop {
height: 10px;
position: relative;
bottom:300px;
}


 #top p b{
    font-size: 25px;
}

h2 {
   position: relative;
   right: 25%;
   bottom: -150px;
}

   h2  b{
    font-family: MyWebFont;
    font-size: 40px;
    }



div#frontsections {
    position: relative;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    /* overflow-x: hidden; */
        /* height: fit-content; */
    margin-top: 70px;
    height:400px ;
    width: 100%;
    flex-grow: 1;
    top: 100px;
           }

div#frontsections section {
    /* display: float; */
    /* align-items: stretch; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('../images/box7.png');
    background-size: 100% 100%;
    width: 600px;
      /* height: 100%; */
      position: relative;
}

div#frontsections section img {
    width: 100px;
    height: 100px;
        border-radius: 50%;
 position: absolute;
 top:240px;
}

h3,h4,h5,h6,h7 
{
font-family:MyWebFont ;
font-size: 30px;
position: absolute;
top: 160px;

}


div#backsections section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     text-align: center;
    background-image: url('../images/box7.png');
    background-size: 100% 100%;
        /* height: 100%; */
      position: relative;
      height: 600px;
      width: 600px;
      font-size: 30px;
    }

div#backsections section .text
{
position: absolute;
height:  200px;
width: 500px;
}

#example {
    width: 100%;
    height: 50vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;

    justify-content: center;


    align-items: center;
}

#box {
    width: 50%;
    height: 50%;
    background-color: brown;
}