* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Assistant', sans-serif;
}


body {
    direction: rtl;
    padding: 0 100px;
    min-height: 100vh;
    /* display: */
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}


nav {
    padding: 2px 10px;
    position: relative;
    /* background-color: blueviolet; */
    font-family: 'MyWebFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    list-style: none;

}

nav ul li {
    margin: 8px 0px 8px 20px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: blue; */
}

a {
    text-decoration: none;
    font-family: mywebfont;
    color: black;
}


#search-container {
    /* background-color: #F8D807; */
    display: flex;
    max-height: 30px;
    justify-content: left;
    margin-left: 0 px;
}


#search-btn {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
}

#search-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    text-align: center;
    background-image: url('../images/backgground2.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    margin-bottom: 00px;
    position: relative;

}

header h1 {
    width: 100%;
    font-family: 'MyWebFont';
    font-size: 90px;
    color: brown;
    margin-top: 10px;
    position: absolute;
    margin-top: 55PX;


}

/*main style  */

main {
    height: 100%;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.foodslist {
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    list-style: none;
    /* margin: 0 0 px; */
    max-width: 100%;
    /* margin-left: 0px; */
    position: relative;
    /* border: 1px solid black; */
    z-index: 1;

}

.foodslist li {
    flex-grow: 1;
    margin: 0;
    font-size: 0.9rem;
    /* padding-left: 15px; */
    /* background-color: blueviolet; */
    /* height: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    position: relative;
    cursor: pointer;
    background-image: url('../images/woodendrawer.png');
    color: black;
    font-family: 'MyWebFont';
    font-size: 30px;
    height: 70px;
    background-size: cover;
    background-size: 100% 100%;
}

ul.foodslist li span {
    font-family: 'MyWebFont';
    color: black;

}


.foodslist li:hover {
    background-color: chocolate;
}

main ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

.foodslist a:active {
    background-color: brown;
}


ul li:hover ul {
    position: absolute;
    display: block;
}


/* sections style */
section {
    display: none;
}






/* explain box style */

#explain-box {
    padding: 0px;
    text-align: center;
    Position: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 300px; */
    height: fit-content;
    flex-direction: column;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* height: calc(100% + 300px); */
    position: relative;
    height: 350px;

}


#explain-box img {
    /* size: 50px; */
    height: 100px;
    /* display: none; */
    /* margin-top: 50px; */
}

#explain-box p {
    border-top: 1px solid black;
    padding: 7px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    color: brown;
    font-size: 40px;
    font-family: 'MyWebFont';
}

#explain-box img {
    margin-top: 50px;
    margin-bottom: 10px;
}

/* sliding window  style*/
#slidding-window {
    display: none;
    width: 100%;
    /* min-height: 250px; */
    height: fit-content;
    /* margin-top: 50px; */
    /* position: absolute; */
    /* top: 0; */
    /* height: 100%; */
    position: relative;
    margin-top: 20px;
}

#slidding-window #slide-title {
    background-color: yellow;
    display: flex;
    text-align: center;
    justify-content: center;
}

#slidding-window #slide-title span {
    position: absolute;
    right: 0;
}


#imgs-bar {
    width: 100%;
    height: 70px;
    background-image: url('../images/fruits.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 0px;
    border: 1px solid black;
}

#imgs-bar .box {
    border: 1px solid black;
    margin: 0 8px;
    padding: 0;
    /* min-width: 16%; */
    cursor: pointer;
    width: fit-content;
    position: flex;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 2px 2px;
    height: fit-content;
    padding: 10px 5px;
    justify-content: center;
}

#imgs-bar a {
    font-family: MyWebFont;
    font-size: 30px;
    margin: 0 auto;
}

#close-box {
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

#close {
    background-color: black;
    /* size: 40px; */
    width: inherit;
    height: inherit;

    /* transform: translate(); */
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}



div #close {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}


#slidding-window #left,
#slidding-window #right {
    background-color: white;
    width: 70px;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    cursor: pointer;
    border-style: 10PX dotted;
    display: flex;
    background-color: black;
    align-items: center;
}

#slidding-window #right {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);

}

#slidding-window #right a {
    color: white;
    font-family: arimo;
    font-size: 14px;
}

#slidding-window #left a {
    color: white;
    font-family: arimo;
    font-size: 14px;
}

#imgs-bar.box :hover {
    background-color: yellow;
}

/* #section1 img {
    width: 100%;
}

#section2 img {
    width: 100%;
} */

/* section h1 {
    size: 20px;
    font-family: 'MyWebFont';
    background-color: yellow;
    border: solid black 1px;
    position: flex;
    justify-content: center;
} */

h1 span {
    background-color: red;
}


section h1 p {
    margin-right: 45%;
}

/* section h2, */
section h3,
section h4,
section h5,
section h6 {
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    width: 100%;
    font-size: 20px;
    border-top: 1px solid black;
}

section img {
    width: 40%;
    /* height: 50%; */
    position: flex;
    justify-content: start;
}

.fruits li a {
    color: white;
}

/* .clicked {
    background-color: red !important;
    border: 1px solid yellow ;
} */