@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/GveretLevinAlefAlefAlefRegular.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Assistant', sans-serif;
}

nav {
    padding: 2px 10px;
    position: relative;
    /* background-color: blueviolet; */
    font-family: 'MyWebFont';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    list-style: none;

   }

ul li {
    margin: 8px 0px 8px 20px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: blue; */
}

a {
    text-decoration: none;
    font-family: mywebfont;
}



header {
    min-height: 100px;
    padding: 0 20px;
    /* background-color: blue; */
    position: relative;
}

header {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: red;
    transform: translate(0, -50%);
    z-index: 999;
    font-family:MyWebFont;
    padding-right: 8px;
}

#search-container {
    /* background-color: #F8D807; */
    display: flex;
    max-height: 30px;
}

#search-btn {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
}

#search-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.title {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: MyWebFont;
    width: 50%;
    border-bottom: 1px solid black;
    padding-bottom: 3px;

}

header div p {
    max-width: 330px;
    padding-right: 8px;
}

header button {
    margin: 60px 0;
}

.btn {
    /* margin: 60px 0px; */
    font-size: 20px;
    padding: 5px 8px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-family: MyWebFont;
}

section {
    min-height: 200px;
    padding-right: 18px;
    padding-top: 20px;
}

#section1 {
    background-color: rgb(248, 206, 213);
}


section p {
    /* margin: 10px 0; */
    margin-top: 10px;
}

section button {
    margin: 20px 0;
}

#section2 {
    background-color: #F8D807;
}

#section3 {
    background-color: aqua;
}

footer {
    min-height: 200px;
    background-color: #5E616D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 20px;
}

 h5 p{
color:right;
font-family:MyWebFont;
color:white;
}

#box {
    color:white;
    Font-family: Assistant;
}

footer .box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}



footer .box:nth-child(1) {
    /* justify-content: start; */
    align-items: flex-start;
}

footer .box:nth-child(1) a {
    margin-top: 7px;
}

footer .box:nth-child(2) {
    text-align: center;
}

footer .box:nth-child(2) img {
    width: 40px;
    margin-top: 10px;
}